        body{
            padding: 30px;
        }

        * {box-sizing:border-box}

        .slideshow-container {
          max-width: 650px;
          position: relative;
        display: block;
            margin-left: auto;
            margin-right: auto;  
        }
        .mySlides {
          display: none;
        }
        .prev, .next {
          cursor: pointer;
          position: absolute;
          top: 50%;
          width: auto;
          margin-top: -22px;
          padding: 16px;
          color: white;
          font-weight: bold;
          font-size: 18px;
          transition: 0.6s ease;
          border-radius: 0 3px 3px 0;
          user-select: none;
        }
        .next {
          right: 0;
          border-radius: 3px 0 0 3px;
        }
        .prev:hover, .next:hover {
          background-color: rgba(0,0,0,0.8);
        }
        .text {
          color: #f2f2f2;
          font-size: 15px;
          padding: 8px 12px;
          position: absolute;
          bottom: 8px;
          width: 100%;
          text-align: center;
        }
        .numbertext {
          color: #f2f2f2;
          font-size: 12px;
          padding: 8px 12px;
          position: absolute;
          top: 0;
        }
        .dot {
          cursor: pointer;
          height: 15px;
          width: 15px;
          margin: 0 2px;
          background-color: #bbb;
          border-radius: 50%;
          display: inline-block;
          transition: background-color 0.6s ease;
        }
        .active, .dot:hover {
          background-color: #717171;
        }
        .fade {
          -webkit-animation-name: fade;
          -webkit-animation-duration: 1.5s;
          animation-name: fade;
          animation-duration: 1.5s;
        }
        @-webkit-keyframes fade {
          from {opacity: .4}
          to {opacity: 1}
        }
        @keyframes fade {
          from {opacity: .4}
          to {opacity: 1}
        }
        #logo{
            position: relative;
            align-content: center;
            height: 80px;
            display: block;
            margin-left: auto;
            margin-right: auto;
        }
        #meny{
            position: relative;
            text-align: center;
            font-family: 'ITC Avant Garde Gothic W01 Bd', sans-serif, sans-serif; 
            margin: auto;
            width: 50%;
            padding: 10px;
        }
        #img1{
            position: relative;
            height: 400px;
            top: 20px;
            display: block;
            margin-left: auto;
            margin-right: auto;
        }
        #img2{
            position: relative;
            height: 200px;
            top: 150px;
            display: block;
            margin-left: auto;
            margin-right: auto;
        }
        #info{
            position: relative;
            text-align: center;
            top: 30px;
            width: 60%;
            font-family: 'ITC Avant Garde Gothic W01 Bd', sans-serif, sans-serif; 
            display: block;
            margin-left: auto;
            margin-right: auto;
        }
        #ansatt1{
            position: absolute;
            text-align: left;
            top: 184px;
            font-family: 'ITC Avant Garde Gothic W01 Bd', sans-serif, sans-serif; 
            display: block;
            margin-left: 15%;
            margin-right: auto;
        }
        #ansatt2{
            position: absolute;
            text-align: left;
            top: 354px;
            font-family: 'ITC Avant Garde Gothic W01 Bd', sans-serif, sans-serif; 
            display: block;
            margin-left: 15%;
            margin-right: auto;
        }
        #ansatt3{
            position: absolute;
            text-align: left;
            top: 184px;
            font-family: 'ITC Avant Garde Gothic W01 Bd', sans-serif, sans-serif; 
            display: block;
            margin-left: 70%;
            margin-right: auto;
        }
        #ansatt4{
            position: absolute;
            text-align: left;
            top: 354px;
            font-family: 'ITC Avant Garde Gothic W01 Bd', sans-serif, sans-serif; 
            display: block;
            margin-left: 70%;
            margin-right: auto;
        }
        #CV{
            position: relative;
            text-align: center;
            top: 30px;
            font-family: 'ITC Avant Garde Gothic W01 Bd', sans-serif, sans-serif; 
            display: block;
            margin-left: auto;
            margin-right: auto;
            }

 #inputLag{
           position: absolute;
            text-align: center;
            top: 30%;
            font-family: "Times New Roman", Times, serif;
            font-variant: small-caps;
            display: block;
            margin-left: 33%;
            margin-right: auto;
        width: 400px;
        } 
    #btnRegistrer{
            position: absolute;
            text-align: center;
            top: 65%;
            font-family: "Times New Roman", Times, serif;
            font-variant: small-caps;
            display: block;
            margin-left: 40%;
            margin-right: auto;
            width: 200px;
     
        } 
    #txtResultat{
            position: absolute;
            text-align: center;
            top: 40%;
            font-variant: small-caps;
            display: block;
            margin-left: 35%;
            margin-right: auto;
            width: 350px;
        }  
        #txtInfo{
            position: absolute;
            text-align: center;
            top: 50%;
            font-family: "Times New Roman", Times, serif;
            font-variant: small-caps;
            display: block;
            margin-left: 35%;
            margin-right: auto;
            width: 350px;
          
        }

#contact{
            position: absolute;
            text-align: center;
            top: 70%;
            font-family: "Times New Roman", Times, serif;
            font-variant: small-caps;
            display: block;
            margin-left: 35%;
            margin-right: auto;
            width: 350px;
}
        a:link {
            color: black;
            text-decoration: none;
            font-size: ;
        }
        a:visited {
            text-decoration: none;
            color: black;
        }
        a:hover {
            text-decoration: none;
            color: #afff47;
        }
        a:active {
            text-decoration: none;
            color: black;
                }